<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
    </head>
    <div>
        <h1>Artist Name</h1>
        <p>{{ artistname }} </p>
        <h2>Active Decades</h2>
        {% for decade in activedecades %}
            <p>{{ decade }} </p>
        {% endfor %} 
        <h2>Genres</h2>
        {% for genre in genres %}
            <p>{{ genre }} </p>
        {% endfor %}
        <h2>Headline Bio</h2>
        <p>{{ headlineBio }} </p>
        <h2>Classical Bio</h2>
        <p>{{ classicalBio }} </p>
        <h2>Influenced By..</h2>
        {% for inf in influencers %}
            <p>{{ inf }} </p>
        {% endfor %}
        <h2>Inspiration To..</h2>
        {% for fol in followers %}
            <p>{{ fol }} </p>
        {% endfor %}
        <h2>Similar Artists</h2>
        {% for sim in similars %}
            <p>{{ sim }} </p>
        {% endfor %}
        <h2>Collaborator With..</h2>
        {% for col in collaboratorWith %}
            <p>{{ col }} </p>
        {% endfor %}
        <h2>Moods</h2>
        {% for mood in moods %}
            <p>{{ mood }} </p>
        {% endfor %}
        <h2>Music Styles</h2>
        {% for style in musicStyles %}
            <p>{{ style }} </p>
        {% endfor %}
    </div>
</html>