<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
    </head>
    <div>
        <h1>Artist Name</h1>
        <p>{{ artistname }} </p>
        <h1>Active Decades</h1>
        <p>{{ activedecades }} </p>
        <h1>Genres</h1>
        <p>{{ genres }} </p>
        <h1>Headline Bio</h1>
        <p>{{ headlineBio }} </p>
        <h1>Classical Bio</h1>
        <p>{{ classicalBio }} </p>
        <h1>Influenced By..</h1>
        <p>{{ influencers }} </p>
        <h1>Inspiration To../h1>
        <p>{{ followers }} </p>
        <h1>Similar Artists</h1>
        <p>{{ similars }} </p>
        <h1>Collaborator With..</h1>
        <p>{{ collaboratorWith }} </p>
        <h1>Moods</h1>
        <p>{{ moods }} </p>
        <h1>Music Styles</h1>
        <p>{{ musicStyles }} </p>
    </div>
</html>